@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: Raleway;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
}
a{
  list-style: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
:root {
  --color: #3dffff;
  --primary: #555bff;
  --secondary: #22d2a0;
  --background: white;
  --green: #1fc11b;
  --yellow: #ffd913;
  --orange: #ff9c55;
  --red: #ff5555;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color);
  color: black;
}

.brand-title {
  font-size: 2rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #75ebeb;
  border-radius: 15px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Hero Style */
.hero {
  height: 90vh;
  margin-top: 5em;
}
.hero-img{
  width: 100%;
}
.Hero-main-text {
  font-size: 4rem;
  font-weight: bolder;
}
.Hero-para-text{
  margin-right: 5rem;
}
.hero-btn-1 {
  border-radius: 50px;
  padding: 0.5em;
}
.hero-btn-1:hover {
  background-color: var(--color);
  transition: 1s linear;
}
.hero-btn-2 {
  color: black;
  background-color: var(--color);
  border-radius: 50px;
  padding: 0.5em;
}
/* Hero Style */

/* cards */
.card1 {
  background-color: var(--background);
  display: block;
  width: 40em;
  min-height: 90px;
  padding: 1rem;
  border: 3px solid var(--primary);
  margin: calc(15vh - 30px) auto 0 auto;
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
    20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
    30px -30px 0 -3px var(--background), 30px -30px var(--orange),
    40px -40px 0 -3px var(--background), 40px -40px var(--red);
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.card1:hover {
  top: -40px;
  left: 40px;
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
    0 0 0 -3px var(--background), 0 0 0 0 var(--yellow),
    0 0 0 -3px var(--background), 0 0 0 0 var(--orange),
    0 0 0 -3px var(--background), 0 0 0 0 var(--red);
}
/* cards */
/* about us */
.card2{
  border: 1px solid black;
  background-color: var(--color);
  padding: .5em;
  margin: 1em;
  width: 30em;
  position: relative;
  top: -3em;
  left: 3em;
}
/* about us */
/* contact */
.contact-form{
  margin: 2em;
}
.contact-form h1{
  font-size: 4rem;
}
.contact-form p{
  margin-right: 4em;
}
.mail-btn{
  border-radius: 7px;
  color: black;
  background-color: var(--color);
  font-size: x-large;
}
/* contact */
/* footer */
.footer{
  padding: 1em;
  background-color: #b1ffff;
}
/* footer */


/* responsive design */
@media screen and (max-width: 767px) {
  .hero-img{
    margin-top: 5em;
  }
  .hero{
    height: fit-content;
    margin: 1em;
  }
  .Hero-main-text {
    font-size: x-large;
  }
  .card1{
    width: 10em;
  }
  .card2{
    position: relative;
    top: 0;
    left: 0;
    width: 20em;
  }
  .contact-form{
    margin: 2em;
  }
  .contact-form h1{
    font-size: 2rem;
  }
  .contact-form p{
    margin-right: 0;
  }
}
